<article>
	<header>
		<h1>
			<a href="{{ post.link || post.url }}">{{ post.title }}</a>
		</h1>
		<ul class="meta">
			<li><time datetime="{{ post.date | date_to_xmlschema }}" pubdate>{{ post.date | date: "%a %d %B" }}</time></li>
			<li><a href="{{ post.url }}" title="{{ post.url }}">Permalink</a></li>
			{% if post.sourcelink %}<li>via <a href="{{ post.sourcelink }}">{{ post.source }}</a></li>{% endif %}
		</ul>
	</header>

	<div class="post-text">
		
		{% if post.link %}
			{{ post.content }}
		{% else %}
			{{ post.content | truncatewords: 50 }}
		{% endif %}
	
	</div>
	
	{% unless post.link %}
		<a class="permalink" href="{{ post.url }}">Continue reading</a>
	{% endunless %}
</article>