<div class="sidebar">
	<section id="latestposts" class="node">
		<h2>Latest posts</h2>
		<ol class="list">
			<li><a href="#">Whiteboard theme for Wordpress
			<time class="listdetail">March 28th</time></a></li>
			<li><a href="#">Firefox 4 – a bitter taste
			<time class="listdetail">March 28th</time></a></li>
			<li><a href="#">Flow out of beta
			<time class="listdetail">March 28th</time></a></li>
			<li><a href="#">Flow out of beta
			<time class="listdetail">March 28th</time></a></li>
			<li><a href="#">Flow out of beta
			<time class="listdetail">March 28th</time></a></li>
			<li><a href="#">Flow out of beta
			<time class="listdetail">March 28th</time></a></li>
			<li><a href="#">Flow out of beta
			<time class="listdetail">March 28th</time></a></li>
			
		</ol>
	</section>
	
	<section class="node">
		<h2>$ whoami</h2>
		<p>I'm Johan, a boy man of many talents. I love building things. I freelance as web designer and developer, working with big and small clients. </p>
		
	</section>
	
	<section class="node">
		<h2>Tools</h2>
		<ul>
			<li>HTML5 & CSS3</li>
			<li>PHP</li>
		</ul>
		
	</section>
	
	<section class="node">
		<h2>$ whoami</h2>
		<p>I'm Johan, a boy man of many talents. I love building things. I freelance as web designer and developer, working with big and small clients. </p>
		
	</section>
	
</div>