<div class="sidebar">
	<section id="latestposts" class="node">
		<h2>Latest posts</h2>
		<ol class="list">
			{% for post in site.posts %}

			<li>
				<a href="{{ post.url }}">{{ post.title }}
					<time class="listdetail">{{ post.date | date: "%d %B"}}</time>
				</a>
			</li>

			{% endfor %}
		</ol>
	</section>
	
	<section class="node">
		<h2>$ whoami</h2>
		<p>I'm Johan, a boy man of many talents. I love building things. I freelance as web designer and developer, working with big and small clients. </p>
		
	</section>
	
	<section class="node">
		<h2>Tools</h2>
		<ul>
			<li>HTML5 & CSS3</li>
			<li>PHP</li>
		</ul>
		
	</section>
	
	<section class="node">
		<h2>$ whoami</h2>
		<p>I'm Johan, a boy man of many talents. I love building things. I freelance as web designer and developer, working with big and small clients. </p>
		
	</section>
	
</div>